<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/funco.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>FunCo Dreamweaver Template</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="MetaTags" -->
<meta name="Keywords" content="keywords" />
<meta name="Description" content="description" />
<!-- InstanceEndEditable -->
<link href="styles.css" rel="stylesheet" type="text/css" />
<!--[if IE 5]>
<style type="text/css"> 
/* IE 5 does not use the standard box model, so the column widths are overidden to render the page correctly. */
#outerWrapper #contentWrapper #rightColumn {
  width: 245px;
}
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* The proprietary zoom property gives IE the hasLayout property which addresses several bugs. */
#outerWrapper #contentWrapper, #outerWrapper #contentWrapper #content {
  zoom: 1;
}
</style>
<![endif]-->
<!--[if lt IE 7]>
<style type="text/css"> 
/* This makes transparent PNG images display correctly in IE6 */
img, div {
  behavior: url("iepngfix/iepngfix.htc");
}
</style>
<![endif]-->
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>
<body>
<div id="background">
  <div id="outerWrapper">
    <div id="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="products.html">Our Products</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="aboutus.html">About Us</a></li>
      </ul>
    </div>
    <div id="logo">&nbsp;</div>
    <div id="contentWrapper">
      <div id="content"><!-- InstanceBeginEditable name="Content" -->
        <h1>Sitemap for our website </h1>
        <ul id="sitemap">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Products</a>
            <ul>
              <li class="subpage"><a href="#" >Product 1</a>
                <ul>
                  <li class="subpage"><a href="#" >Sub Product 1</a></li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="subpage"><a href="#" >Product 2</a> </li>
            </ul>
          </li>
          <li><a href="#">Services</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="privacy.html">Privacy Statement</a></li>
        </ul>
        <!-- InstanceEndEditable --></div>
      <div id="rightColumn"><!-- InstanceBeginEditable name="Sidebar" -->
        <h3>Optional Side Links</h3>
        <ul>
          <li> <a href="#">Navigation link 1</a></li>
          <li><a href="#">Navigation link 2</a></li>
          <li><a href="#">Navigation link 3</a></li>
          <li><a href="#">Navigation link 4</a></li>
          <li><a href="#">Navigation link 5</a></li>
        </ul>
        <h3>Optional Sidebar Info </h3>
        <p>Any information can be placed in the sidebar to help your website visitors navigate your site.</p>
        <p>To make a boxed heading like the one above, simply apply the H3 tag.</p>
        <p class="sidebarlt">To make a box like this, assign the &quot;sidebarlt&quot; class.<br />
          <br />
          You can do anything with a sidebar box. Insert images, ads or other web content.<br />
          <br />
          <a href="#">Here's a text link.</a></p>
        <p class="sidebardk">To make a box like this, assign the &quot;sidebardk&quot; class.<br />
          <br />
          You can do anything with a sidebar box. Insert images, ads or other web content.<br />
          <br />
          <a href="#">Here's a text link.</a></p>
        <!-- InstanceEndEditable --></div>
      <br style="clear:both;" />
    </div>
  </div>
</div>
<div id="footertop">
  <div id="footer">
    <div class="foot-left">
      <h4><img src="images/sample-car.png" alt="" width="155" height="122" class="float-right"/>Why are old toys are the best kind?</h4>
      <p>You can put any information in this area and put special emphasis on one or several product or services.</p>
    </div>
    <div class="foot-right">
      <h4>Get our Newsletter</h4>
      <p> Sign up for our monthly newsletter and get great special deals on all your favorite classic toys!</p>
      <form id="emailform" name="emailform" method="post" action="">
        <input type="text" name="email" id="email" style="width:200px;" value="Enter your Email" onfocus="if (this.value == 'Enter your Email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter your Email';}"/>
        <input name="submit" type="submit" id="button" value="" />
      </form>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<div id="footerlower">
  <p class="float-left">Copyright &copy; 2009 Fun Company. All Rights Reserved.</p>
  <p class="float-right"><a href="index.html">Home</a> | <a href="contact.html">Contact</a> | <a href="aboutus.html">About</a> | <a href="sitemap.html">Site Map</a> | <a href="privacy.html">Privacy</a></p>

</div>
</body>
<!-- InstanceEnd --></html>