<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/subpage template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="title/meta" -->
<title>Thank you</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<!-- InstanceEndEditable -->
<link href="styles.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]>
<style type="text/css"> 
/* This makes transparent PNG images display correctly in IE6 */
img {
  behavior: url("iepngfix/iepngfix.htc");
}
</style>
<![endif]-->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<div id="outerWrapper">
  <div id="navcontainer">
    <div id="nav">
      <ul><!-- InstanceBeginEditable name="navigation" -->
      
      <!-- Navigation is within editable region to enable the use of the "current" class. If you don't want to edit the navigation on each page, simply delete the editable region that surrounds the list items. -->
      
        <li><a href="index.html" title="" class="current"><span>Home</span></a></li>
        <li><a href="products.html" title=""><span>Products</span></a></li>
        <li><a href="services.html" title=""><span>Services</span></a></li>
        <li><a href="gallery.html" title=""><span>Gallery</span></a></li>
      <!-- InstanceEndEditable -->
      </ul>
    </div>
  </div>
  <div id="header">
    <div id="headlinks"> <a href="aboutus.html">About us</a> | <a href="contact.html">Contact us</a> | <strong>800-123-1234 </strong></div>
    <a href="index.html"><img src="images/logo.gif" alt="Logo" /></a> 
    </div>
    
<!-- The following section is an optional section that can be used or removed from the subpages of your site -->
<!-- InstanceBeginEditable name="top feature" -->
<div id="slider"></div>
<!-- InstanceEndEditable -->
<div id="contenttop"><!-- --></div>
<!-- To change from a 3 column to a 2 column left sidebar layout change the id below to "twoColumnleft". To make a 2 column layout with a right sidebar, change it to "twoColumnright". -->
  <div id="twoColumnright">
    <!-- Start left column -->
    <div id="leftColumn">
      <div class="simplemenu">
        <h5 class="headerbar">Simple Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
      </div>
      <div class="styledmenu">
        <h5 class="headerbar">Styled Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
        <h5 class="headerbar">Next Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
      </div>
      <!-- InstanceBeginEditable name="left column content" -->
      <h3>Optional Info </h3>
      <p><img src="images/css-icon.png" alt="Sidebar image description" class="left" />Any information can be placed in the sidebar to help your website visitors navigate your site.</p>
      <p>To make a boxed heading like the one above, simply apply the H3 tag.</p>
      <p class="sidebarlt">To make a box like this, assign the &quot;sidebarlt&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <p class="sidebardk">To make a box like this, assign the &quot;sidebardk&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <!-- InstanceEndEditable --></div>
    <!-- End left column -->
    <!-- Start right column -->
    <div id="rightColumn">
      <div class="simplemenu">
        <h5 class="headerbar">SIMPLE Menu</h5>
        <ul>
          <li> <a href="#">Navigation link 1</a></li>
          <li><a href="#">Navigation link 2</a></li>
          <li><a href="#">Navigation link 3</a></li>
          <li><a href="#">Navigation link 4</a></li>
          <li><a href="#">Navigation link 5</a></li>
        </ul>
      </div>
      <div class="styledmenu">
        <h5 class="headerbar">Styled Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
      </div>
      <!-- InstanceBeginEditable name="right column content" -->
      <h3>Optional Sidebar Info </h3>
      <p>Any information can be placed in the sidebar to help your website visitors navigate your site.</p>
      <p>To make a boxed heading like the one above, simply apply the H3 tag.</p>
      <p class="sidebarlt">To make a box like this, assign the &quot;sidebarlt&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <p class="sidebardk">To make a box like this, assign the &quot;sidebardk&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <!-- InstanceEndEditable --></div>
    <!-- End right column -->
    <!-- Start content -->
    
    <div id="content"><!-- InstanceBeginEditable name="content" -->
      <h1>Thank you</h1>
      <p>We appreciate your contact submission and we will respond promptly.</p>
    <!-- InstanceEndEditable -->
    </div>
    
    <!-- End content -->
    <div class="clear"></div>
  </div>
  <div id="footer"><span style="float:right;padding-right:30px;"><a href="sitemap.html">Sitemap</a> | <a href="privacy.html">Privacy Policy</a></span>Copyright &copy; 2009 Your Website Name </div>
</div>
</body>
<!-- InstanceEnd --></html>
