<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!-- InstanceBegin template="/Templates/No-Sidebar.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Free Website Template from JustDreamweaver.com</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<!-- InstanceEndEditable -->
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="css/grid-960.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" -->
<link href="../js/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"> // loads jQuery </script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"> // for jQuery UI components </script>
<script type="text/javascript" src="js/common.js"> // template common scripts </script>
<!-- InstanceEndEditable -->
</head>
<body>
<div id="header">
  <div class="container_12">
    <div class="grid_4"><a href="#"><img src="images/logo.jpg" alt="Logo"/></a></div>
    <div id="nav" class="grid_8">
      <ul class="sf-menu">
        <li> <a href="index.html">Home</a> </li>
        <li> <a href="#">Template Pages</a>
          <ul>
            <li> <a href="index.html">Home Page</a></li>
            <li> <a href="left-sidebar.html">Left Sidebar</a></li>
            <li> <a href="right-sidebar.html">Right Sidebar</a></li>
            <li> <a href="two-sidebars.html">Dual Sidebars</a></li>
            <li> <a href="no-sidebars.html">No Sidebars</a></li>
            <li> <a href="sample-slideshows.html">Slideshow Examples</a></li>
            <li> <a href="960-grid.html">960 Grid System</a></li>
          </ul>
        </li>
        <li> <a href="#">Connect</a>
          <ul>
            <li> <a href="#" class="facebook">Facebook</a></li>
            <li> <a href="#" class="twitter">Twitter</a></li>
            <li> <a href="#" class="youtube">YouTube</a></li>
            <li> <a href="#" class="linkedin">LinkedIn</a></li>
            <li> <a href="#" class="flickr">Flickr</a></li>
          </ul>
        </li>
        <li> <a href="#">About Us</a></li>
        <li> <a href="#">Contact</a> </li>
      </ul>
    </div>
  </div>
</div>
<div id="content" class="container_12"> <!-- InstanceBeginEditable name="MainContent" -->
  <div class="grid_12">
    <h1>960 Grid System Dreamweaver Template</h1>
    <p>This template is based on the 960 grid system of web design. The template has twelve 50 pixel columns separated by 30 pixel gutters. See the content examples below for examples on how to use the 960 Grid System.</p>
    <h2>How the 960 Grid System Works</h2>
    <p>Using the 960 Grid System makes it easy to create custom web pages using common measurements and dimensions. The template's 12 column grid consists of a series of columns with a &quot;gutter&quot; or padding on each side.</p>
    <h2>A 2-column Example</h2>
    <p>To create two equal columns the full width of the page, the HTML code is:</p>
    <p>&lt;div class="grid_6"&gt; left column content &lt;/div&gt;</p>
    <p>&lt;div class=&quot;grid_6&quot;&gt; right column content &lt;/div&gt;</p>
    <p>The above code with some additional content text will display as:</p>
  </div>
  <div class="grid_6">
    <h3>This is a heading</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <div class="grid_6">
    <h3>This is a heading</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <div class="grid_12 toppad">
    <h2>A Left Sidebar Example</h2>
    <p>To use a left sidebar and the majority of the right side of the page for content, use grids 3 and 9 or 4 and 8. See how the two content classes add up to 12? That's how the 960 Grid System works!</p>
  </div>
  <div class="grid_3">
    <h3>Class=&quot;grid_3&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
  </div>
  <div class="grid_9">
    <h3>Class=&quot;grid_9&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <div class="grid_12 toppad">
    <h2>A Right Sidebar Example</h2>
    <p>If you want your page to use a right sidebar instead, reverse the order of the grid classes.</p>
  </div>
  <div class="grid_9">
    <h3>Class=&quot;grid_9&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <div class="grid_3">
    <h3>Class=&quot;grid_3&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
  </div>
  <div class="grid_12 toppad">
    <h2>A Three-Column Example</h2>
    <p>You can use as many divs as you want, as long as you don't exceed 12 columns across your page.</p>
  </div>
  <div class="grid_3">
    <h3>Class=&quot;grid_3&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
  </div>
  <div class="grid_7">
    <h3>Class=&quot;grid_7&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <div class="grid_2">
    <h3>Class=&quot;grid_2&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
  </div>
  <div class="grid_12 toppad">
    <h2>A Four-Column Example</h2>
  </div>
  <div class="grid_3">
    <h3>Class=&quot;grid_3&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <div class="grid_3">
    <h3>Class=&quot;grid_3&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <div class="grid_3">
    <h3>Class=&quot;grid_3&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <div class="grid_3">
    <h3>Class=&quot;grid_3&quot;</h3>
    <p>Cras et dapibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent dolor neque, gravida sed tempus a, vehicula nec metus. Cras accumsan ultricies sapien id tincidunt. Etiam vitae ante quis lectus pulvinar</p>
  </div>
  <h2 class="grid_12 toppad"> 12 Column Grid </h2>
  <div class="grid_12">
    <p>Below are show all the 12 columns and the possible 2-column combinations. View the source code for this page to see how the columns were created using the 960 Grid System.</p>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;"> grid_12</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_1'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_1</p>
  </div>
  <div class='grid_11'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_11</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_2'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_2</p>
  </div>
  <div class='grid_10'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_10</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_3'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_3</p>
  </div>
  <div class='grid_9'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_9</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_4'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_4</p>
  </div>
  <div class='grid_8'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_8</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_5'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_5</p>
  </div>
  <div class='grid_7'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_7</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_6'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_6</p>
  </div>
  <div class='grid_6'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_6</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_7'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_7</p>
  </div>
  <div class='grid_5'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_5</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_8'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_8</p>
  </div>
  <div class='grid_4'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_4</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_9'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_9</p>
  </div>
  <div class='grid_3'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_3</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_10'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_10</p>
  </div>
  <div class='grid_2'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_2</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_11'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_11</p>
  </div>
  <div class='grid_1'>
    <p style="background-color:#ccc; border:1px solid #333; padding:10px;margin-bottom:8px; font-weight:bold;">grid_1</p>
  </div>
  <div class='clear'>&nbsp;</div>
  <!-- InstanceEndEditable -->
  <div class="clear"></div>
</div>
<div id="footer" class="container_12">
  <div class="grid_6">Copyright &copy; 2010 Your Website</div>
  <div class="grid_6" style="text-align:right;"><a href="#">About Us</a> | <a href="#">Contact Us</a> | <a href="#">Our Blog</a></div>
</div>
</body>
<!-- InstanceEnd --></html>