<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/subpage template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!-- InstanceBeginEditable name="title/meta" -->
<title>Our Products</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<!-- InstanceEndEditable -->
<link href="../../styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22004073-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22004073-2']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!--[if lt IE 7]>
<style type="text/css"> 
/* This makes transparent PNG images display correctly in IE6 */
img {
  behavior: url("iepngfix/iepngfix.htc");
}
</style>
<![endif]-->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<div id="outerWrapper">
  <div id="navcontainer">
    <div id="nav">
      <ul>
      	<!-- InstanceBeginEditable name="nav" -->
        <li><a href="../../index.html" title="" class="current"><span>Home</span></a></li>
        <li><a href="../../exp1.html" title=""><span>Bio</span></a></li>
        <li><a href="../../tools.html" title=""><span>Tools</span></a></li>
        <li><a href="../../contact.html" title=""><span>Contact</span></a></li>
        <!-- InstanceEndEditable -->
        <li><a href="../../bimfo/index.php" title="" target="_new"><span>Bimfo Blog</span></a></li>
      </ul>
    </div>
  </div>
  <div id="header">
	<div id="headlinks"> <strong>Software Architect | Technical Director </strong></div>
    <a href="../../index.html"><img src="../../images/logo.gif" alt="Logo" /></a> 
    </div>
    
<!-- The following section is an optional section that can be used or removed from the subpages of your site -->
<!-- InstanceBeginEditable name="top feature" -->
<div id="slider"><a href="http://www.justdreamweaver.com/features/super-suite.html"><img src="../../images/banner-04.jpg" width="920" height="160" alt=" " /></a></div>
<!-- InstanceEndEditable -->
<div id="contenttop"><!-- --></div>
<!-- To change from a 3 column to a 2 column left sidebar layout change the id below to "twoColumnleft". To make a 2 column layout with a right sidebar, change it to "twoColumnright". -->
  <div id="twoColumnright">
    <!-- Start left column -->
    <div id="leftColumn">
      <div class="simplemenu">
        <h5 class="headerbar">Simple Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
      </div>
      <div class="styledmenu">
        <h5 class="headerbar">Styled Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
        <h5 class="headerbar">Next Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
      </div>
      <!-- InstanceBeginEditable name="left column content" -->
      <h3>Optional Info </h3>
      <p><img src="../../images/css-icon.png" alt="Sidebar image description" class="left" />Any information can be placed in the sidebar to help your website visitors navigate your site.</p>
      <p>To make a boxed heading like the one above, simply apply the H3 tag.</p>
      <p class="sidebarlt">To make a box like this, assign the &quot;sidebarlt&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <p class="sidebardk">To make a box like this, assign the &quot;sidebardk&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <!-- InstanceEndEditable --></div>
    <!-- End left column -->
    <!-- Start right column -->
    <div id="rightColumn">
    <!-- InstanceBeginEditable name="right column content" -->
      <h2></h2>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    	<input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7ALUK4JS6FU3L">
        <input name="submit" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" alt="PayPal - The safer, easier way to pay online!" align="right" border="0">
        <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" align="left">
      </form>
      <!-- InstanceEndEditable --></div>
    <!-- End right column -->
    <!-- Start content -->
    
    <div id="content"><!-- InstanceBeginEditable name="content" -->
      <h1>Our Products</h1>
      <p>Here are a list of our products. Feel free to purchase online or request more information.</p>
      <table width="100%" border="0" cellpadding="10" cellspacing="0" id="detail">
        <tr>
          <td width="25%" class="uline"><img src="../../images/sample-product-1.jpg" width="105" height="159" alt="Product 1" /></td>
          <td width="75%" valign="top" class="uline"><h3>Web Developer Suite</h3>
          <p>Web Developer Suite gives you the Dreamweaver extensions needed to create full-featured website backend administration without having to touch the code.</p>
          <div class="arrow">
           <a href="http://www.justdreamweaver.com/features/web-developer-suite.html">Get More Info</a>
          </div></td>
        </tr>
        <tr>
          <td class="uline"><img src="../../images/sample-product-2.jpg" width="105" height="159" alt="Product 2" /></td>
          <td valign="top" class="uline"><h3>Web Designer Suite</h3>
            <p>Web Designer Suite gives you the Dreamweaver extensions needed to create standards compliant CSS website designs without having to know how to code.</p>
            <div class="arrow">
             <a href="http://www.justdreamweaver.com/features/web-designer-suite.html">Get More Info</a>
          </div></td>
        </tr>
        <tr>
          <td class="uline"><img src="../../images/sample-product-3.jpg" width="105" height="159" alt="Product 3" /></td>
          <td valign="top" class="uline"><h3>Super Suite</h3>
            <p>Super Suite is the ultimate bundle of Dreamweaver extensions that unleash your design and development creativity. </p>
            <div class="arrow">
             <a href="http://www.justdreamweaver.com/features/super-suite.html">Get More Info</a>
          </div></td>
        </tr>
      </table>
      <p>&nbsp;</p>
    <!-- InstanceEndEditable -->
    </div>
    
    <!-- End content -->
    <div class="clear"></div>
  </div>
  <div id="footer"><span style="float:right;padding-right:30px;"> <a href="../../privacy.html">Privacy Policy</a></span>Copyright &copy; 2011 Paolo Hilario </div>
</div>
</body>
<!-- InstanceEnd --></html>
