<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/subpage template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!-- InstanceBeginEditable name="title/meta" -->
<title>Sitemap of our Website</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<!-- InstanceEndEditable -->
<link href="../../styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22004073-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22004073-2']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!--[if lt IE 7]>
<style type="text/css"> 
/* This makes transparent PNG images display correctly in IE6 */
img {
  behavior: url("iepngfix/iepngfix.htc");
}
</style>
<![endif]-->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<div id="outerWrapper">
  <div id="navcontainer">
    <div id="nav">
      <ul>
      	<!-- InstanceBeginEditable name="nav" -->
        <li><a href="../../index.html" title="" class="current"><span>Home</span></a></li>
        <li><a href="../../exp1.html" title=""><span>Bio</span></a></li>
        <li><a href="../../tools.html" title=""><span>Tools</span></a></li>
        <li><a href="../../contact.html" title=""><span>Contact</span></a></li>
        <!-- InstanceEndEditable -->
        <li><a href="../../bimfo/index.php" title="" target="_new"><span>Bimfo Blog</span></a></li>
      </ul>
    </div>
  </div>
  <div id="header">
	<div id="headlinks"> <strong>Software Architect | Technical Director </strong></div>
    <a href="../../index.html"><img src="../../images/logo.gif" alt="Logo" /></a> 
    </div>
    
<!-- The following section is an optional section that can be used or removed from the subpages of your site -->
<!-- InstanceBeginEditable name="top feature" -->
<div id="slider"><a href="http://www.justdreamweaver.com/features/super-suite.html"><img src="../../images/banner-04.jpg" width="920" height="160" alt=" " /></a></div>
<!-- InstanceEndEditable -->
<div id="contenttop"><!-- --></div>
<!-- To change from a 3 column to a 2 column left sidebar layout change the id below to "twoColumnleft". To make a 2 column layout with a right sidebar, change it to "twoColumnright". -->
  <div id="twoColumnright">
    <!-- Start left column -->
    <div id="leftColumn">
      <div class="simplemenu">
        <h5 class="headerbar">Simple Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
      </div>
      <div class="styledmenu">
        <h5 class="headerbar">Styled Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
        <h5 class="headerbar">Next Menu</h5>
        <ul>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
          <li><a href="#">Navigation Item Here</a></li>
        </ul>
      </div>
      <!-- InstanceBeginEditable name="left column content" -->
      <h3>Optional Info </h3>
      <p><img src="../../images/css-icon.png" alt="Sidebar image description" class="left" />Any information can be placed in the sidebar to help your website visitors navigate your site.</p>
      <p>To make a boxed heading like the one above, simply apply the H3 tag.</p>
      <p class="sidebarlt">To make a box like this, assign the &quot;sidebarlt&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <p class="sidebardk">To make a box like this, assign the &quot;sidebardk&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <!-- InstanceEndEditable --></div>
    <!-- End left column -->
    <!-- Start right column -->
    <div id="rightColumn">
    <!-- InstanceBeginEditable name="right column content" -->
      <h3>Optional Sidebar Info </h3>
      <p>Any information can be placed in the sidebar to help your website visitors navigate your site.</p>
      <p>To make a boxed heading like the one above, simply apply the H3 tag.</p>
      <p class="sidebarlt">To make a box like this, assign the &quot;sidebarlt&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <p class="sidebardk">To make a box like this, assign the &quot;sidebardk&quot; class.<br />
        <br />
        You can do anything with a sidebar box. Insert images, ads or other web content.<br />
  <br />
  <a href="#">Here's a text link.</a></p>
      <!-- InstanceEndEditable --></div>
    <!-- End right column -->
    <!-- Start content -->
    
    <div id="content"><!-- InstanceBeginEditable name="content" -->
      <h1>Sitemap</h1>
<br />
      <strong><a href="../../index.html">Home Page</a></strong><br /><br />
      <strong><a href="#">Products</a></strong>
      <ul class="sitemap">
        <li><span class="midd"></span><a href="#">Product Category</a>
          <ul>
            <li><span class="vert"></span><span class="midd"></span><a href="#">Product 1</a>
              <ul>
                <li><span class="vert"></span><span class="vert"></span><span class="midd"></span><a href="#">Product 1 details</a></li>
                <li><span class="vert"></span><span class="vert"></span><span class="last"></span><a href="#">Product 1 pricing</a></li>
              </ul>
            </li>
          <li><span class="vert"></span><span class="midd"></span><a href="#">Product 2</a>
              <ul>
                <li><span class="vert"></span><span class="vert"></span><span class="midd"></span><a href="#">Product 2 details</a></li>
                <li><span class="vert"></span><span class="vert"></span><span class="last"></span><a href="#">Product 2 pricing</a></li>
              </ul>
            </li>
           <li><span class="vert"></span><span class="midd"></span><a href="#">Product 3</a>
              <ul>
                <li><span class="vert"></span><span class="vert"></span><span class="midd"></span><a href="#">Product 3 details</a></li>
                <li><span class="vert"></span><span class="vert"></span><span class="last"></span><a href="#">Product 3 pricing</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <br /><br />
      <strong><a href="aboutus.html">About Us</a></strong><br /><br />
      <strong><a href="../../contact.html">Contact Us</a></strong><br /><br />
      <strong><a href="gallery.html">Photo Gallery</a></strong><br /><br />
      <strong><a href="../../privacy.html">Privacy Policy</a></strong>      
    <!-- InstanceEndEditable -->
    </div>
    
    <!-- End content -->
    <div class="clear"></div>
  </div>
  <div id="footer"><span style="float:right;padding-right:30px;"> <a href="../../privacy.html">Privacy Policy</a></span>Copyright &copy; 2011 Paolo Hilario </div>
</div>
</body>
<!-- InstanceEnd --></html>
