<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/subpage.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Contact Us</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="MetaTags" -->
<meta name="Keywords" content="keywords" />
<meta name="Description" content="description" />
<script type="text/javascript" src="script/cleanValidator.js"></script>
<!-- InstanceEndEditable -->
<link href="styles.css" rel="stylesheet" type="text/css" />
<!--[if IE 5]>
<style type="text/css"> 
/* IE 5 does not use the standard box model, so the column widths are overidden to render the page correctly. */
#outerWrapper #contentWrapper #rightColumn {
  width: 265px;
}

</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* The proprietary zoom property gives IE the hasLayout property which addresses several bugs. */
#outerWrapper #contentWrapper, #outerWrapper #contentWrapper #content {
  zoom: 1;
}
</style>
<![endif]-->
<!--[if lt IE 7]>
<style type="text/css"> 
img, div {
  behavior: url("iepngfix/iepngfix.htc");
}
</style>
<![endif]-->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<div id="outerWrapper">
  <div id="header"><a href="index.html"><img src="images/logo.png" name="logo" width="297" height="55" id="logo" /></a>
    <div id="headinfo"><a href="#">Log in</a> | Customer Service <strong>888-123-1234</strong></div>
  </div>
  <div id="navbg">
    <div id="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Software</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div id="subfeature"><!-- InstanceBeginEditable name="Feature Content" -->
    <div class="subfeature-content">
      <p class="title">Get access to over 1.2 million MP3 files with one low monthly price</p>
      <p><a href="#">Download 30-day Trial</a>&nbsp; | &nbsp;<a href="#">Buy Now</a>&nbsp; | &nbsp;<a href="#">View Artist List</a></p>
    </div>
    <!-- InstanceEndEditable --></div>
  <div id="contentWrapper">
    <div id="content"><!-- InstanceBeginEditable name="Content" -->
      <h1>Contact Us</h1>
        <p>Please fill out the following form to contact us.</p>
        <form id="contactform" method="post" action="contactengine.php">
          <label for="Name" >Your Name:</label>
          <br />
          <input type="text" name="Name" id="Name" class="inputValue"/>
          <span class="required">*required</span><br />
          <br />
          <label for="Email" >Your Email:</label>
          <br />
          <input type="text" name="Email" id="Email" class="inputValue" />
          <span class="required">*required</span><br />
          <br />
          <label for="Comments" >Comments:</label>
          <br />
          <textarea name="Comments" id="Comments" class="inputText" ></textarea>
          <br />          
          <br />
          <input type="submit" value="Submit" class="inputButton"/>
        </form>
        <!-- This controls the fields and styles for the validation prompt. To add more fields to be required, simply add them by field id to the 'isRequired' brackets below. The color styles are the outline color first and the fill color second for the form fields.--> 
        <script type="text/javascript">
			cleanValidator.init({
				formId: 'contactform',
				inputColors: ['#EDEDED', '#FFFFFF'],
				errorColors: ['#FFFF99', '#CF3339'],
				isRequired: ['Name','Email'],
				isEmail: ['Email']
			})
		  </script>
          <br />          
          <br />
          <!-- Links to scripts which make it simple to email form contents and prevent SPAM form submissions. -->
        <p><strong>Attention Webmasters:</strong> Here are some commercial scripts you can use to submit this contact form via email, add image CAPTCHA and validate form input.</p>
        <ul>
          <li><a href="http://www.webassist.com/professional/products/productdetails.asp?PID=257&amp;WAAID=649" target="_blank"><strong>Contact Form Solution Pack</strong></a> - The Contact Form Solution Pack is a complete PHP application, ready to  deploy. The form includes both client- and server-side validation as  well as the ability to send a confirmation email. Includes multiple SPAM preventers such as CAPTCHA, honeypots and human verification questions.</li>
          <li><strong><a href="http://www.hotdreamweaver.com/form-to-mail?acode=18223" target="_blank">Form to Mail</a></strong> - Form2Mail is a Dreamweaver extension for Adobe Dreamweaver MX or later,  which allows to email every field of a form filled by the user along  with other data that help you to know more about the user and allow to  offer a better technical support and give a more personalized answer.</li>
          <li><a href="http://www.hotdreamweaver.com/dreamweaver-form-validator?acode=18223" target="_blank">Form Validator</a> - Form Validator gives designers and programmers working with Adobe  Dreamweaver a very powerful tool for the creation of forms,  indispensable to collect user data. If you do not validate your forms,  you may soon find yourself dealing with large amounts of meaningless  information.</li>
          <li><strong><a href="http://www.hotdreamweaver.com/form-captcha?acode=18223" target="_blank">FormCaptcha</a></strong> is a Dreamweaver extension that  helps to protect your forms against spam and automatic submitters. By  inserting a captcha into your form, you make sure that a real person  fills it in, because captcha images can only be correctly read by  humans.</li>
        </ul>
      <!-- InstanceEndEditable --></div>
    <div id="rightColumn">
      <h2>SUPPORT INFORMATION</h2>
      <div class="sidebar-border">
        <ul>
          <li><a href="#">Software Support</a></li>
          <li><a href="#">MP3 Support</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Artist List</a></li>
          <li><a href="#">Our Guarantee</a></li>
        </ul>
      </div>
      <h2>NEWSLETTER SIGNUP</h2>
      <div class="sidebar-border">
        <form action="" method="post" id="newsletter">
          <label>Your Name</label>
          <input name="Name" type="text" />
          <label>Email Address</label>
          <input name="Name" type="text" />
          <input name="submit" type="submit" id="button" value="Subscribe" />
        </form>
      </div>
      <h2>HOTTEST SINGLES</h2>
      <div class="sidebar-border">
        <p><strong>Kate Perry - I Kissed a Girl</strong><br />
          2.74 MB - 2:59 min - 128Kbit<br />
          <a href="#">Download Now </a></p>
        <hr />
        <p><strong>Ne-vo - Closer</strong><br />
          3.58 MB - 3:54 min - 128Kbit<br />
          <a href="#">Download Now </a></p>
        <hr />
        <p><strong>Leave Short - Leave Short</strong><br />
          1.38 MB - 1:30 min - 128Kbit<br />
          <a href="#">Download Now </a></p>
      </div>
    </div>
    <br style="clear:both;" />
  </div>
  <div id="footer">
       <p><a href="index.html">HOME</a>&nbsp; | &nbsp;<a href="#">DOWNLOADS</a>&nbsp; | &nbsp;<a href="#">ARTIST LIST</a>&nbsp; | &nbsp;<a href="#">SUPPORT</a>&nbsp; | &nbsp;<a href="#">CUSTOMER SERVICE</a>&nbsp; | &nbsp;<a href="privacy.html">PRIVACY</a>&nbsp; | &nbsp;<a href="sitemap.html">SITE MAP</a></p>
    <p> Copyright © 2008 Your Comany Name Here</p>
  </div>
</div>
</body>
<!-- InstanceEnd --></html>