<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Template from JustDreamweaver.com</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="css/grid-960.css" rel="stylesheet" type="text/css" />
<link href="js/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"> // loads jQuery </script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"> // for jQuery UI components </script>
<script type="text/javascript" src="js/common.js"> // template common scripts </script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.slideshow').cycle({ // see http://malsup.com/jquery/cycle/ for jQuery cycle options
		fx:  'fade', // options are: blindX, blindY, blindZ, cover, curtainX, curtainY, fade, fadeZoom, growX, growY, scrollUp, scrollDown, scrollLeft, scrollRight, scrollHorz, scrollVert, shuffle, slideX, slideY, toss, turnUp, turnDown, turnLeft, turnRight, uncover, wipe, zoom
		timeout: 5000, // how long slides are shown in ms
    	speed:  1000, // how long transition takes in ms
		easing: 'easeInOutQuad', // options are: easeInOutQuad, easeInOutCubic, easeInOutQuart, easeInOutQuint, easeInOutSine, easeInOutExpo, easeInOutCirc, easeInOutElastic, easeInOutBack, easeInOutBounce
		pause: 1,
		pauseOnPagerHover: 1, // pause slideshow when mouse hovers
		sync: 1, // set to 1 to see two slides at the same time
		autostop: 0,
		pager: '#slidenav' // container element for optional slideshow navigation
		});
	})
	</script>
</head>
<body>
<div id="header">
  <div class="container_12">
    <div class="grid_4"><a href="#"><img src="images/logo.jpg" alt="Logo"/></a></div>
    <div id="nav" class="grid_8">
      <ul class="sf-menu">
        <li> <a href="index.html">Home</a> </li>
        <li> <a href="#">Template Pages</a>
          <ul>
            <li> <a href="index.html">Home Page</a></li>
            <li> <a href="left-sidebar.html">Left Sidebar</a></li>
            <li> <a href="right-sidebar.html">Right Sidebar</a></li>
            <li> <a href="two-sidebars.html">Dual Sidebars</a></li>
            <li> <a href="no-sidebars.html">No Sidebars</a></li>
            <li> <a href="sample-slideshows.html">Slideshow Examples</a></li>
            <li> <a href="960-grid.html">960 Grid System</a></li>
          </ul>
        </li>
        <li> <a href="#">Connect</a>
          <ul>
            <li> <a href="#" class="facebook">Facebook</a></li>
            <li> <a href="#" class="twitter">Twitter</a></li>
            <li> <a href="#" class="youtube">YouTube</a></li>
            <li> <a href="#" class="linkedin">LinkedIn</a></li>
            <li> <a href="#" class="flickr">Flickr</a></li>
          </ul>
        </li>
        <li> <a href="#">About Us</a> </li>
        <li> <a href="#">Contact</a> </li>
      </ul>
    </div>
  </div>
</div>
<div id="feature">
  <div class="container_12">
    <div class="grid_5">
      <p class="feature-title">Welcome to blueshades.</p>
      <p>A Dreamweaver template that's easily customizable for whatever content you want to use.</p>
      <p>W3C valid code and SEO optimization ensures your sites reach their potential.</p>
      <a href="#"><img src="images/btn-read-more.jpg" alt="" /></a><a href="#"><img src="images/btn-buy-now.jpg" alt="" style="margin-left:10px;"/></a></div>
    <div class="grid_7">
      <div class="slideshow"> <img src="images/slide1.jpg" alt="" /> <img src="images/slide2.jpg" alt="" /> </div>
      <!-- If you want to use slide navigation, uncomment this code 
  <div id="slidenav"></div>
  -->
    </div>
  </div>
  <div class="clear"></div>
</div>
<div id="subfeature">
  <div class="container_12">
    <div class="grid_7">
      <p class="subtitle">Get Updates and Special Offers via Email</p>
      <p class="subtext">Just for subscribing to our updates you'll receive a ton of free goodies!</p>
    </div>
    <div class="grid_5">
      <form action="#" method="get" name="optinform" id="optinform" style="margin-top:8px;">
        <input name="name" type="text" class="optinname" value="Enter your name"  onfocus="if (this.value == 'Enter your name') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter your name';}"/>
        <input name="email" type="text" class="optinemail" value="Email address"  onfocus="if (this.value == 'Email address') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Email address';}"/>
        <input name="submit" type="button" class="submitbtn" value="GO" />
        <br />
        <p class="smallitalic">Your privacy is always respected! Read our <a href="#">privacy policy</a>.</p>
      </form>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div id="content" class="container_12 topborder">
  <div class="grid_12">
    <h1>Blueshades jQuery SEO Optimized Dreamweaver Template</h1>
    <p>The Blueshades template is an extremely flexible Dreamweaver template. It takes the 960 Grid System and the jQuery javascript library and gives you an incredibly easy to customize template with jQuery interactivity.</p>
    <h2>Here's what's included</h2>
    <p>Here's what you get with the Blueshades template:</p>
  </div>
  <div class="grid_3">
    <h4>Dreamweaver templates</h4>
    <p>Separate template (.dwt) files are included for all four layouts:</p>
    <ul>
      <li><a href="left-sidebar.html">Left sidebar</a></li>
      <li><a href="right-sidebar.html">Right sidebar</a></li>
      <li><a href="two-sidebars.html">Dual sidebars</a></li>
      <li><a href="no-sidebars.html">No sidebars</a></li>
    </ul>
  </div>
  <div class="grid_3">
    <h4>PNG and PSD files</h4>
    <p>The vector source graphics are included, so whether you prefer Fireworks or Photoshop, you can alter the graphics to meet the needs of your project.</p>
  </div>
  <div class="grid_3">
    <h4>jQuery examples</h4>
    <p>All the content you see on these example pages is included in the template files. It gives you a jump start on creating your own masterpiece!</p>
  </div>
  <div class="grid_3">
    <h4>Six Different Widths</h4>
    <p>Choose from 780, 840, 900, 960 and 1020 pixel widths as well as a fluid width layout that changes size as the browser width changes. Simply change one line of code!</p>
  </div>
  <div class="clear toppad"></div>
  <div class="grid_6">
    <h3>Blueshades is a SEO Optimized Template</h3>
    <p>Blueshades is extremely SEO-friendly, as the content code is always presented first to search engine spiders, rather than the sidebar code as in many templates. The code is W3C valid as well, so spiders will come back for more!</p>
  </div>
  <div class="grid_6">
    <h3>960 Grid System PLUS multiple layout widths</h3>
    <p>Blueshades is based on the 960 Grid System, which in a nutshell means it's EXTREMELY easy to customize your page layouts and columns. See how this page goes from a full-width column to four columns then back to two columns? It's very simple with the 960 Grid System!</p>
  </div>
  <div class="clear"></div>
</div>
<div id="footer" class="container_12">
  <div class="grid_6">Copyright &copy; 2010 Your Website</div>
  <div class="grid_6" style="text-align:right;"><a href="#">Privacy Information</a> | <a href="#">Contact</a></div>
</div>
</body>
</html>