<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/subpage.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Email Error</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="MetaTags" -->
<meta name="Keywords" content="keywords" />
<meta name="Description" content="description" />
<!-- InstanceEndEditable -->
<link href="styles.css" rel="stylesheet" type="text/css" />
<!--[if IE 5]>
<style type="text/css"> 
/* IE 5 does not use the standard box model, so the column widths are overidden to render the page correctly. */
#outerWrapper #contentWrapper #rightColumn1 {
  width: 256px;
}
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* The proprietary zoom property gives IE the hasLayout property which addresses several bugs. */
#outerWrapper #contentWrapper, #outerWrapper #contentWrapper #content {
  zoom: 1;
}
</style>
<![endif]-->
<!--[if lt IE 7]>
<style type="text/css"> 
img, div {
  behavior: url("iepngfix/iepngfix.htc");
}
</style>
<![endif]-->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<div id="outerWrapper">
  <div id="subpageheader"></div>
  <div id="innerWrapper">
    <div id="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Our Listings</a></li>
        <li><a href="#">Our Agents</a></li>
        <li><a href="#">Featured Home</a></li>
        <li><a href="#">Locator Map</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="aboutus.html">About Us</a></li>
      </ul>
    </div>
    <div id="subfeature"> </div>
    <div id="contentWrapper">
      <div id="content"><!-- InstanceBeginEditable name="Content" -->
        <h1>Oops! Email was not sent!</h1>
        <p>Your email message was not delivered. Please return to our <a href="contact.html">contact page</a> and try again.</p>
        <!-- InstanceEndEditable --></div>
      <div id="rightColumn1">
        <h2>Search our listings</h2>
        <form action="" method="get" id="searchform">
          <label>City</label>
          <select name="city">
            <option selected="selected">Select a city</option>
            <option>Auburn</option>
            <option>Bay Point</option>
            <option>Big Bear</option>
            <option>Castro Valley</option>
            <option>Discover Bay</option>
            <option>Hermosa Beach</option>
          </select>
          <label>Square Feet</label>
          <select name="sqft">
            <option selected="selected">Under 1,500</option>
            <option>1,500 to 1,800</option>
            <option>1,800 to 2,000</option>
            <option>2,000 to 2,500</option>
            <option>2,500 to 3,000</option>
            <option>3000+</option>
          </select>
          <input name="submit" type="submit" id="button" value="Search Now!" />
        </form>
        <h2>Newest Listings</h2>
        <!-- InstanceBeginEditable name="SidebarSection" -->
        <p class="pad"><img src="images/sample3.jpg" class="float-left" /> 1234 Main Street<br />
          Anytown, CA 12345<br />
          $465,000<br />
  <a href="#">More Info </a></p>
        <hr style="clear:left;"/>
        <p class="pad"><img src="images/sample6.jpg" class="float-left" />1234 Main Street<br />
          Anytown, CA 12345<br />
          $465,000<br />
  <a href="#">More Info </a></p>
        <hr style="clear:left;"/>
        <p class="pad"><img src="images/sample7.jpg" class="float-left" />1234 Main Street<br />
          Anytown, CA 12345<br />
          $465,000<br />
  <a href="#">More Info </a></p>
        <hr style="clear:left;"/>
        <p class="pad"><img src="images/sample8.jpg" class="float-left" />1234 Main Street<br />
          Anytown, CA 12345<br />
          $465,000<br />
  <a href="#">More Info </a></p>
        <!-- InstanceEndEditable --><br style="clear:left;" />
        <h2>Chat with us online</h2>
        <p class="pad">Chat with us online anytime between the hours of 8:00 am to 5:00 pm Pacific time.</p>
        <p class="pad"><a href="#">Click to connect on live chat</a></p>
      </div>
      <br style="clear:both;" />
    </div>
  </div>
  <div id="footer">Copyright © 2008 Real Estate Company | <a href="index.html">Home</a> | <a href="sitemap.html">Sitemap</a> | <a href="privacy.html">Privacy</a> | <a href="aboutus.html">About Us</a> | <a href="contact.html">Contact Us</a></div>
</div>

</body>
<!-- InstanceEnd --></html>